
body {
    background: linear-gradient(45deg, #6c4675, #8c8ad8, #96c6ec, #fff);
    font-family: "Raleway";
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
table {
    width: 80%; 
    max-width: 800px; 
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 0%;
}


td, th {
    text-align: center; /* Centrar el contenido en las celdas */
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

th, thead {
        background-color: #000000!important; /* Cambia el color de fondo a negro */
        color: #ffffff!important; /* Cambia el color del texto a blanco */
        padding: 15px;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }
   

.btn {
    display: inline-block;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.edit-btn {
    background-color: #000000;
    color: #fff;
}

.delete-btn {
    background-color: #f44336;
    color: #fff;
}

.btn:hover {
    background-color: #050505;
}
.TITLE {
    text-align: center; /* Centrar el texto */
    margin-top: 120px; /* Esto asegura que el texto aparezca debajo del navbar */
}
