body{
  background: linear-gradient(45deg, #6c4675, #8c8ad8, #96c6ec, #fff);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}




  main {
    padding: 20px;
    text-align: center;
  }

  form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff!important;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #fff;
    margin-top: 130px;
    backdrop-filter: blur(10px);
  
  }

  #eventLocation{
    background-color: #fff!important;
  
    backdrop-filter: blur(10px);
  }
  label {
    display: block;
    margin-bottom: 8px;
  }

  input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }

  button {
    background-color: #46a2fd;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #ffffff;
    color: black;
  }