
body {
    font-family: Arial, sans-serif;
    background-image: url(https://images.unsplash.com/photo-1495107334309-fcf20504a5ab?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el fondo completamente */
    background-position: center; /* Centra la imagen en el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}
.input-box.separate {
    margin-bottom: 30px; /* Puedes ajustar este valor según sea necesario */
}


.container {
    width: 30050px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-bottom: 20px;
}

.imagenCircular {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    padding: 36px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
    margin-top: 150px;
    border: 3px solid black;
    border-radius: 5px;
}



input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type=submit]:hover {
    opacity: 0.8;
}

.radio-group {
    margin-bottom: 20px;
}

.radio-group label {
    display: inline-block;
    width: 50%;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 14px;
}

.radio-group label input {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    visibility: hidden;
}

.radio-group label input:checked + span {
    background-color: #4CAF50;
    color: white;
}

.radio-group label span {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}